.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.content {
  background-color: white;
  margin-top: 60px;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 20px;
  height: 300px;
}
